@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

@import "tailwindcss";

@theme {
  --font-playfair: "BeatriceDeckTrial", serif;
  --color-primary: #000000;
  --color-bg: #f2f2f2;
}

a.active hr {
  display: block;
}

html,
body {
  position: relative; /* allow absolute positioning of children */
  margin: 0; /* remove default margin */
  padding: 0; /* remove default padding */
  width: full; /* viewport width */
  overflow-x: hidden;
  height: 100vh;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@font-face {
  font-family: "BeatriceDeckTrial";
  src: url("./assets/fonts/BeatriceDeckTRIAL-Regular-BF64829e8e41476.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}
